.addproduct {
    padding-top: 50px;
}
.table {
    padding-bottom: 20px;;
}
.navbar-nav{
    padding-left:100px !important;
}
.navbar-expand .navbar-nav .nav-link {
    padding-left: 4.5rem   !important;
}
.navbar-brand {

    font-size: 2.25rem !important;
    padding-left: 150px !important;
}